In [1]:
# Create BS Data

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.DataFrame()

In [21]:
start = pd.to_datetime('2021-01-01')
end = pd.to_datetime('2021-12-31')

In [22]:
def random_dates2(start, end, n, unit='D', seed=None):
    if not seed:  # from piR's answer
        np.random.seed(0)

    ndays = (end - start).days + 1
    return start + pd.to_timedelta(
        np.random.randint(0, ndays, n), unit=unit
    )

In [23]:
def get_data(size = 10_000):
    df['age'] = np.random.randint(0, 100, size)
    df['time_spent_in_bed'] = np.random.randint(0, 9, size)
    df['pct_sleeping'] = np.random.rand(size)
    df['fav_food'] = np.random.choice(['pizzza', 'tacos', 'ice-cream'], size)
    df['hate_food'] = np.random.choice(['broccoli', 'candy corn', 'ice-eggs'], size)
    df['effectve_dt'] = random_dates2(start, end, size)
    df['term_dt'] = random_dates2(start, end, size)
    df['term_dt'] = random_dates2(start, end, size)
    return df

In [24]:
df = get_data()

In [25]:
df

,age,time_spent_in_bed,pct_sleeping,fav_food,hate_food,effectve_dt,term_dt
0,58,7,0.549573,tacos,ice-eggs,2021-06-22,2021-06-22
1,21,6,0.108789,ice-cream,broccoli,2021-02-17,2021-02-17
2,85,6,0.485695,tacos,broccoli,2021-04-28,2021-04-28
3,23,6,0.529224,pizzza,ice-eggs,2021-07-12,2021-07-12
4,74,8,0.445491,ice-cream,candy corn,2021-11-20,2021-11-20
...,...,...,...,...,...,...,...
9995,93,1,0.125874,tacos,broccoli,2021-11-26,2021-11-26
9996,27,2,0.889944,ice-cream,ice-eggs,2021-10-08,2021-10-08
9997,52,5,0.838127,tacos,broccoli,2021-10-01,2021-10-01
9998,99,0,0.984207,pizzza,candy corn,2021-10-18,2021-10-18
9999,32,2,0.245932,pizzza,ice-eggs,2021-11-16,2021-11-16